<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347492857917-102g2qj5fqkm6v90ve1kmtqgro010dp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347492857917-102g2qj5fqkm6v90ve1kmtqgro010dp0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347492857917-jfh7m1p2mdkstsp1d338gnc36pi56hmp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuWbeHYyLgu_BXjlvlQBQ1bhkK7wlh1Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>347492857917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fblav3</string>
	<key>PROJECT_ID</key>
	<string>fblav3</string>
	<key>STORAGE_BUCKET</key>
	<string>fblav3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347492857917:ios:89d1710ad0812c4a551254</string>
</dict>
</plist>